{% extends "home.html" %}
{% block  content%}
<table class="table  table-bordered">
    <thead>
    <tr>
    <th>num</th>
    <th>title</th>
    <th>file</th>
    <th>type</th>
    <th>entity</th>
    <th>tips</th>
    </tr>
    </thead>
    <tbody>
    {% for files in inform %}
    <tr>
    <td>{{files.id}}</td>
    <td>{{files.title}}</td>
    <td><a href="">{{files.file.name}}</a></td>
    <td>{{files.type}}</td>
    <td>{{files.entity}}</td>
    <td>{{files.tips}}</td>
    </tr>
    {% endfor %}
</tbody>

{% endblock  %}